{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans 'Paroly çalyşmak' %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'login-css/login-font.css' %}">
    <link rel="stylesheet" href="{% static 'login-css/login.min.css' %}">
    <link rel="stylesheet" href="{% static 'login-css/style.css' %}">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.2-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.2-web/js/all.min.js' %}">
    <link href="{% static 'img/logo-original.png' %}" rel="icon">

    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body style="background-color: #1363C6;">
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'img/logo-original.png' %}" alt="">
        </div>
        <div class="text-center mt-4 name">
            {% trans 'Paýhasly' %}
        </div>
        <form class="p-3 mt-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <button class="btn mt-3" style="background-color: #1363C6;">{% trans 'Ugrat' %}</button>
        </form>
    </div>
<script src="{% static 'login-js/login-jquery.js' %}"></script>
<script src="{% static 'login-js/login.min.js' %}"></script>
</body>
</html>