{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Täzelikler' %}{% endblock %}
{% block content %}
    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">{% trans 'Täzelikler' %}</h1>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">

                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

     <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="row g-4">
                {% for p in page_obj %}
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{{ p.img.url }}" alt="">
                        <a class="case-overlay text-decoration-none" href="{{ p.get_absolute_url }}">
                            <h5 class="lh-base text-white mb-3">{{ p.title }}
                            </h5>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
         <div style="width: 200px; margin: 0 auto">
             <ul class="pagination">
                 {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></li>
                 {% endif %}
                 {% for p in page_obj.paginator.page_range %}
                        {% if p == page_obj.number %}
                            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                 {% elif p > page_obj.number|add:3 and p < page_obj.number|add:-3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                  {% endif %}
                 {% endfor %}
             {% if page_obj.has_next %}
                 <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}>{% trans 'Next' %}</a></li>
             {% endif %}
             </ul>
         </div>
    </div>


    <!-- Full Screen Search Start -->
    <div class="modal fade id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->    <!-- Hero Start -->
    <!-- Hero End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->
{% endblock %}